<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <link rel="stylesheet" href="lib/bootstrap.css">
</head>

<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>

            <div class="panel-body form-inline">
                <label>Id：
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>Name：
                    <input type="text" class="form-control" v-model="name" @keyup.enter="add">
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click="add">

                <label>
                    搜索名称关键字：
                    <input type="text" class="form-control" v-model="keywords" v-focus v-color="'red'">
                </label>

            </div>
        </div>
        <table class="table table-bordered table-hover tab">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>Ctimer</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!--之前，v-for中的数据，都是直接从data上的list中渲染过来的。-->
                <!--现在，我们自定义一个search方法，同时，把所有的关键字通过传参传递到search方法中-->
               <!--在search中方法内部，通过for循环，把所有符合搜索关键字的数据，保存到一个新数组中返回-->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.ctime | dateFormat}}</td>
                    <!--.prevent阻止默认行为href-->
                    <td><a href="" @click.prevent="del">删除</a></td>
                </tr>
            </tbody>

        </table>

    </div>
</body>

</html>

<script>

    //全局的过滤器，进行时间格式化
    Vue.filter('dateFormat', function (dateStr) {
        //根据给定的时间字符串，得出特定时间
        var dt = new Date(dateStr)
        //格式：yyyy-mm-dd
        var y=dt.getFullYear()
        var m=dt.getMonth()+1; //getMonth从0开始
        var d=dt.getDate();
        //return y + '-' + m + '-' + d
        return `${y}-${m}-${d}`
    })

    
    //自定义全局按键修饰符
    Vue.config.keyCodes.f2=113

    //使用 Vue.directive() 定义全局的指令 v-focus
    //1、定义指令时，指令名称不需要加 v-
    //2、调用指令时，必须在指令名称上加 v-
    //3、参数2，是一个对象，在这个对象上，有一些特定阶段指定的特定函数
    Vue.directive('focus',{
        bind:function(el){ //每当指令绑定到元素上的时候，会立即执行这个bind函数，只执行1次
         //注意：在每个函数中，第一个参数，永远是el，表示被绑定了指令的那个元素，这个el参数，是一个原生的js对象
         //在元素，刚绑定了指令的时候，还没有插入到DOM中取，这时候调用focus方法没有作用。
         //因为，一个元素，只有插入DOM 之后，才能获取焦点。

        el.focus()  //这里还不会起作用

        }, 
        inserted:function(el){ //inserted 表示元素插入到DOM中的时候，会执行inserted函数，触发1次
            el.focus() 
        },
        updated:function(){ //当VNode更新的时候，会执行updated，可能会触发多次

        }
    })

   //自定义一个设置输入框字体颜色的指令
    Vue.directive('color',{
        //样式，只要通过指令绑定给了元素，不管这个元素有没有被插入到页面中，这个元素肯定有了一个内联样式
        //将来元素肯定会显示到页面中，这时候，浏览器的渲染引擎必然会解析样式，应用给这个元素
        bind:function(el,bingding){
            //和样式相关的操作，一般都可以在bind执行
            el.style.color=bingding.value
        }
    })


    Vue.filter('dateFormatWithPattern', function (dateStr,pattern="yyyy-mm-dd") {
        //根据给定的时间字符串，得出特定时间
        var dt = new Date(dateStr)
        //格式：yyyy-mm-dd
        var y=dt.getFullYear()
        var m=dt.getMonth()+1; //getMonth从0开始
        var d=dt.getDate();
        if(pattern && patter.toLowerCase()==='yyyy-mm-dd'){
            return `${y}-${m}-${d}`
        }else{
            var hh= dt.getHours();
            var mm=dt.getMinutes();
            var ss= dt.getSeconds();
            return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
        }
    })



    var vm = new Vue({
        el: "#app",
        data: {
            id: '',
            name: '',
            keywords: '', //搜索的关键字
            list: [
                { id: 1, name: "奔驰", ctime: new Date() },
                { id: 2, name: "宝马", ctime: new Date() }
            ]
        },
        methods: {
            add() { //添加的方法
                var car = { id: this.id, name: this.name, ctime: new Date() }
                this.list.push(car)
            },
            del(id) { //根据ID删除
                //1、根据ID，找到要删除的这一项的索引
                //2、如果找到了索引，直接调用数组的splice方法
                this.list.some((item, i) => {
                    if (item.id == id) {
                        //在数组的some方法中，如果return true 就会立即终止这个数组的后续循环
                        this.list.splice(i, 1)
                        return true
                    }
                })

                //方法2：使用findIndex找出数组的索引
                var index = this.list.findIndex(item => {
                    if (item.id == id) {
                        return true
                    }
                })
                this.list.splice(index, 1)
            },
            search(keywords) { //根据关键字，进行数据的搜索

                //第一种：遍历list，判断name是否包含，如果包含则push到新数组
                var newList = [];
                this.list.forEach(item => {
                    if (item.name.indexOf(keywords) != -1) {
                        newList.push(item)
                    }
                })
                return newList

                //第二种：使用es6新方法 filter
                newList = this.list.filter(item => {
                    //注意：es6 中为字符串提供的新方法 String.prototype.includes
                    if (item.name.includes(keywords)) {
                        return item
                    }
                })
                return newList

            }
        }
    })
</script>